<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport"
          content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>FOB Security project</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/prettify.css"/>
</head>
<body>
<nav>
    <div class="container">
        <h1>
            <img class="company_logo" src="images/fob_logo.png"/>
        </h1>

        <div id="menu">
            <ul class="toplinks">
                <li><a href="http://www.fob-solutions.com/">FOB Solutions Website </a></li>
                <li><a href="/blog">Start </a></li>
            </ul>
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a></div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> FOB Solutions security project</h2>
    </div>
</header>
<section>
    <div class="container">
        <ul class="docs-nav" id="menu-left">
            <li><a href="#welcome" id="menu-item-welcome" class=" ">Welcome</a></li>
            <li><a href="#why" id="menu-item-benefits" class=" ">Why</a></li>
            <li><a href="#features" id="menu-item-features" class=" ">Features</a></li>
            <li><a href="#setup" id="menu-item-setup" class=" ">Setup</a></li>
        </ul>
        <div class="docs-content">

            <h3 id="welcome"> Welcome</h3>

            <h3 id="why">Why we are doing this?</h3>

            <h3 id="features"> What can be done with this?</h3>

            <h3 id="setup"> What do I need to know before starting?</h3>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <p> &copy; 2016 fob-solutions.com </p>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/prettify/prettify.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
<script src="js/layout.js"></script>
<script src="js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
<script src="js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
</body>
</html>
