<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <meta name="description" content=""/>
    <meta name="HandheldFriendly" content="True"/>
    <meta name="MobileOptimized" content="320"/>
    <meta name="viewport"
          content="initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no"/>
    <title>FOB Security project</title>
    <link href="http://fonts.googleapis.com/css?family=Raleway:700,300" rel="stylesheet"
          type="text/css"/>
    <link rel="stylesheet" href="/css/style.css"/>
    <link rel="stylesheet" href="/css/prettify.css"/>
</head>
<body>
<nav>
    <div class="container">
        <h1>
            <img class="company_logo" src="images/fob_logo.png"/>
        </h1>

        <div id="menu">
            <ul class="toplinks">
                <li><a href="http://www.fob-solutions.com/">FOB Solutions Website </a></li>
                <li><a href="/blog">Start </a></li>
            </ul>
        </div>
        <a id="menu-toggle" href="#" class=" ">&#9776;</a></div>
</nav>
<header>
    <div class="container">
        <h2 class="docs-header"> FOB Solutions security project</h2>
    </div>
</header>
<section>
    <div class="container">
        <ul class="docs-nav" id="menu-left">
            <li><a href="#welcome" id="menu-item-welcome" class=" ">Welcome</a></li>
            <li><a href="#why" id="menu-item-benefits" class=" ">Why</a></li>
            <li><a href="#features" id="menu-item-features" class=" ">Features</a></li>
            <li><a href="#setup" id="menu-item-setup" class=" ">Setup</a></li>
        </ul>
        <div class="docs-content">

            <h3 id="welcome"> Welcome</h3>
            <p>I'm glad you find your way here!</p>
            <p>This project is created to give you some examples how web application can have security flaws.</p>

            <h3 id="why">Why we are doing this?</h3>
            <p>Nowadays clients are more and more in the mind that manual testers should have some experience in
                security testing.</p>
            <p>We are trying to spread the word and find new security enthusiasts</p>

            <h3 id="features"> What can be done with this?</h3>
            <p>Right now we have created application which will teach you the basics about three points.</p>
            <p>We are hoping to get some attention with it and develop more of those web applications (mobile
                applications as well in the future)</p>
            <p>In the first project you will find</p>
            <ul>
                <li>Session management flaws</li>
                <li>Malicious input flaws</li>
                <li>Business logic flaws</li>
                <li>... and possibily more that we didn't plan to keep</li>
            </ul>

            <h3 id="setup"> What do I need to know before starting?</h3>
            <p>In order to participate in this project you need to set up couple of things:</p>
            <ul>
                <li>IntelliJ IDEA - Used to run the application</li>
                <li>mongoDB - Used as a local database for the application</li>
                <li>Java - for obvious reasons</li>
            </ul>

            <p>Download IntelliJ IDEA Community edition from: <a href="https://www.jetbrains.com/idea/download/download-thanks.html?code=IIC"> here</a></p>
            <p>Install Gradle plugin to IntelliJ IDEA (from settings)</p>
            <p>Import </p>

            <p>If you have question how to set up the project or any other (related) questions feel free to ask
                from:</p>
            <ul>
                <li>Marko K</li>
                <li>Veiko</li>
                <li>Aare</li>
                <li>Marko T</li>
            </ul>
        </div>
    </div>
</section>
<footer>
    <div class="container">
        <p> &copy; 2016 fob-solutions.com </p>
    </div>
</footer>
<script src="js/jquery.min.js"></script>
<script type="text/javascript" src="js/prettify/prettify.js"></script>
<script src="https://google-code-prettify.googlecode.com/svn/loader/run_prettify.js?lang=css&amp;skin=sunburst"></script>
<script src="js/layout.js"></script>
<script src="js/jquery.localscroll-1.2.7.js" type="text/javascript"></script>
<script src="js/jquery.scrollTo-1.4.3.1.js" type="text/javascript"></script>
</body>
</html>
